.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    cursor: pointer;
  }
  th, td {
    padding: 5px;
    text-align: left; 
    text-align: center;
  }
 
#data {
    margin-bottom: 10px;
    text-align: center;
}
 
/* #data input, button {
    padding: 10px;
    width: 100px;
} */
#name {
    width: 50px;
    padding: 5px;
    text-align: center;
}
#scon1{
    width: 100px;
    padding: 5px;
    text-align: center;
}
#scon2{
    width: 100px;
    padding: 5px;
    text-align: center;
}
#scon3{
    width: 100px;
    padding: 5px;
    text-align: center;
}
#scon4{
    width: 100px;
    padding: 5px;
    text-align: center;
}
#scon5{
    width: 100px;
    padding: 5px;
    text-align: center;
}
#add {
    width: 40px;
    padding: 5px;
    text-align: center;
    border-radius: 20px;
    color:#eede53;
    background-color: #6278f5;
    cursor: pointer;
}
/* #add :hover{
    background-color: #6278f5;
    cursor: pointer;
} */